*{
    padding:00px;
    margin: 00px;
}
#navbar{
    background-color: #251919;
    display: flex;
    align-items: center;
    height: 80px;
    opacity: 0.8;
    /* position: relative; */
}
.container{
  width: 15%;
    /* height: 60px; */
    height:100px;
} 
.container h1{
    color:#fb5b21;
    text-shadow: 5px 5px 10px #fb5b21;
    /* background-color: #fb5b21; */
    padding:26.5px;  
     font-family: "Poppins", sans-serif;

}
.container2{
    width:50%;
    padding:18px;
}
.container2 a{
    color:white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 00px 20px;
    font-family: "Emblema One", system-ui;
    
   
}
 .container2 a:hover{
    color:red;
    border:2px solid white;
    padding:3.5px;
    border-radius: 15px;
    background-color: white;
}
.icons{
    display: flex;
    gap:10px;
}
.icons a{
    width:40px;
    height:40px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    color:#fff;
    font-size:20px;
}
.icons a:hover{
    background: #fff;
    color:#000;
}

/* cart section */
main{
    width: 100%;
    padding: 25px 9%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}
#cart-icon {
    position: relative;
    display: flex;
    font-size:30px ;
    cursor:pointer;
}
#cart-icon .cart-item-count {
    position: absolute;
    top:0;
    right:-6px;
    width:20px;
    height:20px;
    background:#e35f26;
    border-radius: 50%;
    font-size: 12px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.cart{
    position:fixed;
    top:0;
    right:-100%;
    width:360px;
    height:100%;
    background:#fff;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    padding: 65px 20px 40px;
    z-index:100;
    overflow:auto;
    transition:0.5s;
}
.cart.active{
    right:0;
}
.cart-title{
    text-align: center;
    font-size: 30px;
}
.cart-box{
    display: flex;
    align-items: center;
    margin-top:20px;
}
.cart-box img{
    width:100px;
    height:100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-left: auto;
}
.cart-product-title{
    font-size:16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    display: flex;
    width: 100px;
    border:1px solid #999;
    border-radius: 6px;
}
.cart-quantity button{
    background: transparent;
    width:30px;
    border:none;
    font-size: 20px;
    cursor: pointer;
}
.cart-quantity #decrement {
    color:#999;

}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right:1px solid #999;
    cursor:default;
}
.cart-remove{
    font-size: 25px;
    cursor:pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    border-top:1px solid #333;
    margin-top:20px;
    font-size:18px;
}
.total-price{
    margin-left:10px;
    font-weight:600;
}
.btn-buy{
    display: block;
    padding: 10px 30px;
    background: #e35f26;
    border:none;
    border-radius:6px;
    font-size:16px;
    color:#fff;
    margin: 20px auto 0;
    cursor:pointer;;
}
#cart-close{
    position:absolute;
    top:20px;
    right:15px;
    font-size:35px;
    cursor:pointer;

}

/* menu section */
#shop{
    padding: 100px 9% 30px;
}
.section-title{
    font-size: 35px;
    text-align:center;
    margin-bottom: 15px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}
.product-box .img-box {
    display: flex;
    border-radius:10px;
    overflow:hidden;

}
.img-box img {
    width:100%;
    transition: 0.5s;

}
.img-box:hover img{
    transform:scale(1.1);
}
.product-box .product-title{
    font-size: 20px;
    margin-top: 10px;
}
.product-box .price-and-cart{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.price-and-cart .price{
    font-size: 18px;
    font-weight: 500;
}
.price-and-cart .add-cart{
    padding: 10px;
    background-color: #e35f26;
    border-radius: 6px;
    font-size: 20px;
    color:#fff;
    cursor:pointer;
}
/* home section 
 #home{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
 justify-content: center;
 /* position: absolute;  
  /* top:0px;  
  background-image: url(bg1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.89;
    height:460px;
    width:100%;
    z-index: -1;
    }
    #home h1{
        position:absolute;
        top:30%;
        margin-top:10px;
        font-size: 3.2em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #home p{
        margin-top:10px;
        font-size:1.0em;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }  */
    /* .btn{
        margin-top:10px;
        font-size: 1.3em;
        padding:3px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(165, 42, 42, 0.178);
            border:1px solid white;
            border-radius:20px;
            cursor:pointer;
    }
.btn:hover{
    color:white;
    background-color: rgb(59, 57, 57);
}
.h-secondary{
    font-size:2.3em;
} */
/* .cart-value{
    display: flex;
    justify-content: center;
    background-color: #E9E3DF;
    width:100%;
} */
/* #item-heading{
    width:50%;
    color:#fb5b21;;
    text-align: right;
    padding: 20px;
    padding-left: 60px; 
    /* background-color: #E9E3DF; */
    /* text-decoration: underline; */
    /* text-shadow: 5px 5px 10px #fb5b21; 
    font-size:2.3em;

} */ 
/* #cart{
    width:40%;
    padding: 20px;
    padding-right: 90px;
    color: rgb(173, 72, 72);
    font-size:2.0em;
    text-align: right;
    justify-content: center;
    
}
.cart-count{
    /* width:10%; */
    /* text-align: left; 
    white-space: nowrap;
    line-height: 18px;
    height:18px;
    position: relative;
    font-size: 20px;
    color: rgb(173, 72, 72);
    right:91px;
    top:18px;
    font-weight: 700;
    cursor: pointer;

} */

/* .navs{
        background-color: rgba(165, 42, 42, 0.555);
    display: grid;
    place-items: center;
}
.navs ul{
    list-style-type: none;
}
.navs ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color:#000;
    transition: 0.2s ease-in;
    font-size: 18px;
}
.navs ul a:hover{
color:green;
color:white;
} */
/* #items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
     grid-row-gap: 20px;
     background-color: #E9E3DF;
}
#items img{
    height: 300px;
    width:100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
#items img:hover{
    transform: scale(1.04);
}
#items.h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding:5px 30px;
    border:none;
    outline:none;
    background-color: rgba(165, 42, 42, 0.555);
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
    border-radius: 50px;
}
#items button:hover{
    transform: scale(1.04);
}
.price{
    font-size: 14px;
    font-weight: 700;
    line-height:15px;
    color: #282c3f;
    white-space: nowrap;
}
.original_price{
    text-decoration: line-through;
    color:#7e818c;
    font-weight: 400;
    margin-left:5px;
    font-size:12px;
}
.discount{
    color:#fb5b21;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
} */
/* footer */
.footer{
    margin-top:15px;
}
#foot-pannel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.20rem;
}
#foot-pannel2{
    background-color:#222f3d;
    color:white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top:30px;
}
ul p{
    font-size:1.20rem;
}
ul a{
    display: block;
    font-size:1.00rem;
    text-decoration: none;
    margin-top:15px;
    color:#dddddd;
} 
